/******font*****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
--primery-white:#fff;

}

body{
    font-family: 'Roboto', sans-serif;
}


/********navbar******/
.logo{
    width:60px;
    border-radius: 50%;
    

}

/*---------menu-------*/
nav a.nav-link{
font-weight: 600;
letter-spacing: 0.6px;
cursor: pointer;
}

nav ul li{
    text-transform: uppercase;
}


/********menu link****/
nav a.nav-link{
    letter-spacing: 0.175rem;
    cursor: pointer;
    font-size: 10px;
}
nav ul li{
    text-transform: uppercase;
}

.navbar-nav > li >a{
margin-right: 20px;
margin-left: 20px;
    color: var(--primery-white) !important ;
    border-top:0.1875rem solid  rgba(255,255,255,0);
}

.navrabr-brand{
    max-width: 17.25rem;
    padding: 0 !important;
    height: 6 rem !important;
}

.navbar-nav > li>a.active,
.navbar-nav > li>a:focus
{ 
    border-top: 3px solid orange !important;
 
}

.navbar-nav > li > a:hover{
    border-top: 3px solid orange !important;

}


/***********Header*****/
.header-weaper{
    position: relative;
    background: url(./back.jpg);
    background-size: cover;
    background-position:center ;
    height: 90vh;
}

.main-info{
    display: flex;
    position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main-info h1{
    color:orange;
    text-transform: uppercase;
    font-weight: 800;

}

@media(max-width:768px){
    .main-info h1{
        font-size: 1.2rem !important;
    }
    .typed-text{
        font-size: 1rem !important;
    }
}

/******tyoed text***/
.typed-text{
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
}

/******Header btn-main-offe ***/
.btn-main-offer{
border: 1px solid #f33501;
text-transform: uppercase;
text-transform: unset;
border-radius: 0;
padding: 10px 12px 12px 12px;
color: #fff;
font-weight: 800;
font-size: 1.1rem;
text-decoration: none;
margin-top: 2rem;
background-color: transparent;

}

.btn-main-offer:hover{
    text-decoration: none;
    background-color: orangered;
    color: #fff;
    transition: .2s ease-in-out;
}


@media(max-width:768px){
    .main-info h1{
        font-size: 1.2rem !important;
    }
}